.menu__ligne1, .menu__ligne2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu__ligne1 a, .menu__ligne2 a{
    width: 200px;
    height: 270px;
}

.menu__ligne1 a:nth-child(1) h2, .menu__ligne1 a:nth-child(1) h3, .menu__ligne2 a:nth-child(1) h2, .menu__ligne2 a:nth-child(1) h3, .menu__ligne2 a:nth-child(2) h2, .menu__ligne2 a:nth-child(2) h3{
    font-size: 1.3em;
}

.menu__ligne1 a:nth-child(2) h2{
    font-size: 1em;
}

.menu__ligne1 a:nth-child(2) h3{
    font-size: 1.2em;
}

.prochainement{
    width: 200px;
}

.body-menuZoom{
    padding-bottom: inherit;
    padding-top: inherit;
}

.header-menuZoom{
    position: inherit;
}

.menuStyle{
    width: 100%;
    height: 110vh;
    font-size: 70%;
    min-width: 320px;
    max-width: 499px;
    padding: 60px 0px 100px;
    margin-top: inherit;
}

.menuStyle ul li{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5px;
    padding-left: inherit;
    padding-right: inherit;
}
    
.menu1 li{
    padding: 0px 5px 0px 5px;
}