.menu__ligne1, .menu__ligne2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuStyle ul li{
    display: flex;
    flex-direction: column;
    text-align: center;
}