body{
    color: $font-color;
    font-family: "logo";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header h1{
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
    line-height: 2em;
    background-color: #569c84;
    padding-bottom: 0.2em;
}

.menu{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-bottom: 1em;
    
    a{
        width: 300px;
        overflow: hidden;
        height: 410px;
        margin: 40px;
        box-shadow: 1px 1px 15px grey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        &:hover h2, &:hover h3{
            transform: scale(1.25);
            transition: 0.5s ease-out;
        }
    }
    h2{
        margin-bottom: 40px;
    }

    h3{
        font-size: 1.7em;
    }
}

.menu__ligne1{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    
    a:nth-child(1){
    background-color: $background-menu1;
    color: $color-menu1;
        h2{
            font-family: "titre1";
            font-size: 1.7em;
        }
        h3{
            font-family: "menu1";
            font-weight: bolder;
        }
    }
    a:nth-child(2){
        background-color: $background-menu2;
        color:#c87a21;
        h2{
            font-family: "titre2";
            font-size: 1.3em;
            background: linear-gradient(to right, $color-menu2-1, $color-menu2-3);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        h3{
            font-family: "menu2";
            font-weight: bolder;
        }
    }
}

.menu__ligne2{
    display: flex;
    justify-content: center;
    
    a:nth-child(1){
        background-color: $background-menu3;
        color: #347ef1;
        h2{
            font-family: "titre3";
            font-size: 1.7em;
            background: linear-gradient(to right, $color-menu3-1, $color-menu3-3);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        & h3{
            font-family: "menu1";
        }
    }
    a:nth-child(2){
        background-color: $background-menu4;
        color: #a0da82;
        h2{
            font-family: "titre4";
            font-size: 1.6em;
            background: linear-gradient(to right, $color-menu4-1, $color-menu4-2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        h3{
            font-family: "menu1";
        }
    }
}
    
.prochainement{
    background-color: $background-color;
    width: 30%;
    border-radius: 10px;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    padding-top: 0.3rem;
    font-size: 1.2em;
    line-height: 1.2em;

    &__anime{
        display: flex;
        justify-content: center;

        &--opacity{
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            margin: 0.3rem;
            background-color: $font-color;
            animation: pointsAnime 1s alternate infinite both;
        }
        &--opacity:nth-child(2){
            animation-delay: 0.2s;
        }
        &--opacity:nth-child(3){
            animation-delay: 0.4s;
        }
    }
}



footer{
    background-color: #569c84;
    display: flex;
    justify-content: space-between;
    line-height: 1.5em;
    padding: 15px;

    & a{
        color: $font-color;
        text-decoration: none;
    }
        
    & a:hover{
        animation: wiggle 0.2s linear 2;
    }
}

.body-menuZoom{
    padding-bottom: 110px;
    padding-top: 110px;
    height: auto;
}

.header-menuZoom{
    position: fixed;
    top: 0;
    width: 100%;
}

.footer-menuZoom{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 0;

    a{
        margin: 0 15px;
    }
}