.head h1{
    text-align: center;
    background-color: #569c84;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    
    & .head__logo{
    width: 45%;
    padding: 17px;
    }
}

.menu{
    display: flex;
    flex-direction: column;

    & .menu__line{
        display: flex;
        justify-content: center; 

        & a .menu__img{
            width: 237px;
            margin: 2em;
            box-shadow: 1px 1px 12px grey;

            &:hover{
            transform: scale(1.3);
            transition-duration: 0.3s;
            }
        }
    }
}

img.menuZoom{
    width: 90%;
    margin-left: 5%;
    box-shadow: 1px 1px 12px grey;
}

.foot{
    background-color: #569c84;
    display: flex;
    justify-content: space-between;
    line-height: 1.5em;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 47.5%;
    margin: auto;

    & a{
        color: $font-color;
        text-decoration: none; 
    }
}