.menu2{
    background-color: $background-menu2;
    font-family: "menu2-2";

    h2{
        font-family: "titre2";
        background: linear-gradient(to right, #c87a21, #9d6dfe);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    h3{
        font-size: 1.15em;

        &::before, &::after{
            background-color: $color-menu2-1;
            height: 3px;
            width: 28%;
            content: "";
        }
        
        span{
            background: linear-gradient(to top, $color-menu2-1 0px , $color-menu2-1 1px, transparent 2px) no-repeat;
            background-size: 0 100%;
            transition: background-size 0.5s ease;
        }

    &:nth-of-type(2){
        &::before, &::after{
            background-color: $color-menu2-2;
            height: 3px;
            width: 28%;
            content: "";
        }
        span{
            background: linear-gradient(to top, $color-menu2-2 0px , $color-menu2-2 1px, transparent 2px) no-repeat;
            background-size: 0 100%;
            transition: background-size 0.5s ease;
        }
        &:hover > span{
            background-size: 100% 100%;
        }
    }
    &:nth-of-type(3){
        &::before, &::after{
            background-color: $color-menu2-3;
            height: 3px;
            width: 28%;
            content: "";
        }
        span{
            background: linear-gradient(to top, $color-menu2-3 0px , $color-menu2-3 1px, transparent 2px) no-repeat;
            background-size: 0 100%;
            transition: background-size 0.5s ease;
        }
        &:hover > span{
            background-size: 100% 100%;
        }  
    }
}

    & ul li{
        font-size: 1em;
        padding-left: 40px;
        padding-right: 40px;
    }
}

.menu2 h3:nth-of-type(1), .menu2 ul:nth-of-type(1){
    color: $color-menu2-1;
}

.menu2 h3:nth-of-type(2), .menu2 ul:nth-of-type(2){
    color: $color-menu2-2;
}

.menu2 h3:nth-of-type(3), .menu2 ul:nth-of-type(3){
    color: $color-menu2-3;
}
