.menu1{
    background-color: $background-menu1;
    color: $color-menu1;
    font-family: "menu1";

    h2{
        font-family: "titre1";

        &:nth-of-type(2){
            margin-top: 2em;
            font-size: 1.5em;
            margin-bottom: 0;
        }
        i{
            background: linear-gradient(to right, $color-logo1, $color-logo2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    
    h3{
        font-size: 1.5em;

        span{
            background: linear-gradient(to top, $color-menu1 0px , $color-menu1 1px, transparent 2px) no-repeat;
            background-size: 0 100%;
            transition: background-size 0.5s ease;
        }

        &::before, &::after{
            background-color: $color-menu1;
            height: 3px;
            width:  30%;
            content: "";
        }
    }
}