.menu1{
    background-color: $background-menu1;
    padding: 60px;
    box-shadow: 1px 1px 12px grey;
    margin: auto;
    margin-top: 60px;
    color: $color-menu1;
    width: 40%;
    max-width: 570px;
    font-family: "menu1";

    h2{
        text-align: center;
        font-size: 2em;
        margin-bottom: 2em;
        font-family: "titre1";

        &:nth-of-type(2){
            margin-top: 2em;
            font-size: 1.5em;
            margin-bottom: 0;
        }
    }
    
    h3{
        font-size: 1.5em;
        text-align: center;
        font-weight: bolder;
        margin-top: 40px;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span{
            background: linear-gradient(to top, $color-menu1 0px , $color-menu1 1px, transparent 2px) no-repeat;
            background-size: 0 100%;
            transition: background-size 0.5s ease;
        }

        &::before, &::after{
            background-color: $color-menu1;
            height: 3px;
            width:  30%;
            content: "";
        }
        &:hover > span{
            background-size: 100% 100%;
        }
    }
    & ul li{
        display: flex;
        justify-content: space-between;
        line-height: 2.5em;
        font-size: 0.8em;
    }
}