.menu4{
    background-color: $background-menu4;
    padding: 60px;
    padding-bottom: 100px;
    color: black;
    font-family: "menu1";
    font-weight: 500;
    

    h2{
        font-size: 3.5em;
        line-height: 1.5em;
        background: linear-gradient(to right, $color-menu4-1, $color-menu4-2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 1em;
        font-family: "titre4";
    }
    
    h3{
        font-size: 1em;

        &::before{
            background: linear-gradient(to right, $color-menu4-1, $color-menu4-2);
            height: 3px;
            width: 28%;
            content: "";
        }
        &::after{
            background: linear-gradient(to right, $color-menu4-2, $color-menu4-1);
            height: 3px;
            width: 28%;
            content: "";
        }
        
        span{
            background: linear-gradient(to top, black 0px , black 1px, transparent 2px) no-repeat;
            background-size: 0 100%;
            transition: background-size 0.5s ease;
        }

    &:nth-of-type(2){
        &::before{
            background: linear-gradient(to right, $color-menu4-1, $color-menu4-2);
            height: 3px;
            width: 28%;
            content: "";
        }
        &::after{
            background: linear-gradient(to right, $color-menu4-2, $color-menu4-1);
            height: 3px;
            width: 28%;
            content: "";
        }
        span{
            background: linear-gradient(to top, black 0px , black 1px, transparent 2px) no-repeat;
            background-size: 0 100%;
            transition: background-size 0.5s ease;
        }
        &:hover > span{
            background-size: 100% 100%;
        }
    }
    &:nth-of-type(3){
        &::before{
            background: linear-gradient(to right, $color-menu4-1, $color-menu4-2);
            height: 3px;
            width: 28%;
            content: "";
        }
        &::after{
            background: linear-gradient(to right, $color-menu4-2, $color-menu4-1);
            height: 3px;
            width: 28%;
            content: "";
        }
        span{
            background: linear-gradient(to top, black 0px , black 1px, transparent 2px) no-repeat;
            background-size: 0 100%;
            transition: background-size 0.5s ease;
        }
        &:hover > span{
            background-size: 100% 100%;
        }  
    }
}

    & ul li{
        padding-left: 40px;
        padding-right: 40px;

        span{
            font-size: 1.3em;
        }
    }
}