$font-color: #e1ca5d;
$background-color: #569c84;
$background-menu1: #fbdcdb;
$background-menu2: #fbf3fb;
$background-menu3: #f3f3f3;
$background-menu4: #fbfbfb;
$color-logo1: #f1505f;
$color-logo2: #f6926a;
$color-menu1: #432312;
$color-menu2-1: #c7750a;
$color-menu2-2: #a6679a;
$color-menu2-3: #6e4bcd;
$color-menu3-1: #0024de;
$color-menu3-2: #0171f3;
$color-menu3-3: #1c9ef9;
$color-menu4-1: #3c9337;
$color-menu4-2: #bfff80;